* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #e1d3bc, #6dc0d3);
}

.content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: linear-gradient(to right, #f6f8fc, #058dc2);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
